anomalib
lightning
opencv-python
imgaug
kornia
pandas
scikit-learn
timm
einops
FrEIA
wheel
python-dotenv
open-clip-torch
# anomalib install -v
# dnf install yum install python3-pyyaml
# pip3 install torch torchvision --index-url https://download.pytorch.org/whl/cu126
